@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h1 class="display-4">Welcome to Hazur ko Car Rental</h1>
            <p class="lead">Find the perfect car for your next adventure!</p>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row">
            <div class="col-12 text-center">
                <img src="/images/car1.png" alt="Car Rental" class="img-fluid" style="max-width: 500px; max-height: 500px;">
            </div>
        </div>
    </div>
    @*<div class="row">
        <div class="col-md-6 offset-md-3 mt-4">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title text-center">Book Your Car Now</h2>
                    <form>
                        <div class="form-group">
                            <label for="pickupLocation">Pickup Location</label>
                            <input type="text" class="form-control" id="pickupLocation" placeholder="Enter pickup location">
                        </div>
                        <div class="form-group">
                            <label for="returnLocation">Return Location</label>
                            <input type="text" class="form-control" id="returnLocation" placeholder="Enter return location">
                        </div>
                        <div class="form-group">
                            <label for="pickupDate">Pickup Date</label>
                            <input type="date" class="form-control" id="pickupDate">
                        </div>
                        <div class="form-group">
                            <label for="returnDate">Return Date</label>
                            <input type="date" class="form-control" id="returnDate">
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Search</button>
                    </form>
                </div>
            </div>
        </div>
    </div>*@
</div>

